@import url("components/banner.css");
@import url("components/button.css");
@import url("components/cards.css");
@import url("components/container.css");




body{
	font-family: 'Lora', serif;
	font-size: 10px;
	line-height: 1.6;
	letter-spacing: 1.5px;
	font-weight: lighter;
	background: #f5f9fc;
	color:#020038;
	text-align: justify;

}

h1{
	font-size: 15px;
	color: #002062;

}

h2{
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	color: #ffa500;



}

.img_head{
	width: 1000px;
	


}


.list-inline {
	list-style: none;
	padding-left: 5px;

}

.cards{
	display: flex;
	justify-content: space-around;

}


.card_below{
	background-color: white;
	padding: 30px;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	margin: 30px;
	text-align: center;
	width: 250px;
	height: 200px;

}

.card_content{
	display: flex;
	align-items: center;
	margin: 50px 20px;



}

.final_card{
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	margin: 20px 0px;
	text-align: center;
}

.container{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

}

.btn-blue{
	background-color: #020038;
	padding: 15px 20px;
	border-radius: 6px;
	color: #ffffff;
	font-weight: bold;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	margin: 80px auto;
	
}


